################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cnet/cnet/Debug
/cnet/cnet/cnet.vcxproj.user
/cnet/cnet/cnet.vcxproj.filters
/cnet/cnet/cnet.vcxproj
/cnet/cnet/cnet.aps
/cnet/cnet.sln
/cnet/.vs/cnet/v16
/cnet/cnet/Release
/cnet/cnet/x64/Release
/cnet/Release
/cnet/x64/Debug
/cnet/cnet/x64/Debug
/cnet/lukes extra stuff/27352_34877_bundle_archive
/cnet/lukes extra stuff/more checks.xlsx
/cnet/lukes extra stuff/todo.txt
/cnet/cnet/mnist_test.csv
